header {
    background-color: var(--header-background-color);
    border-bottom: var(--header-border-bottom);
    position: sticky;
    z-index: 4;
    top: 0;
    min-width: var(--header-min-width);
}

header .header__container {
    width: 100%;
    height: var(--header-height);
    max-width: var(--main-max-width, 1500px);
    padding: var(--header-padding);
    color: var(--header-font-color);

    margin: 0 auto;      /* 가운데정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header__title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .header__logo {
    width: var(--header-logo-size);
    height: var(--header-logo-size);
    background-color: var(--header-logo-color);
    border-radius: 50%;
    transition: transform 0.4s ease;
    flex-shrink: 0; /* 로고 커져도 타이틀은 축소 안되도록 */
}

header .header__title:hover .header__logo {
    transform: scale(1.1); /* 크기 키우기 */
}

header .header__text {
    margin-left: var(--header-title-margin);
}

header .header__nav {
    /*width: var(--header-nav-width);*/
    font-size: var(--header-font-size);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

header .header__nav a:hover {
    transition: color .2s;
    color: var(--header-nav-hover-color);
}

header .header__nav li {
    cursor: pointer;
}

header .header__nav .nav__menu {
    display: none;
    align-items: center;
    gap: 5px;
}

header .header__nav .nav__menu span {
    user-select: none; /* 더블클릭 파란색 방지 */
}

header .header__nav .nav__menu .nav__icon {
    position: relative;
    width: 24px;
    height: 24px;
}

header .header__nav .nav__menu .icon__close,
header .header__nav .nav__menu .icon__menu {
    background: url("../../../icon/close.svg");
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
}

header .header__nav .nav__menu .icon__close {
    background: url("../../../icon/close.svg");
}

header .header__nav .nav__menu .icon__menu {
    background: url("../../../icon/menu.svg");
}

header .header__nav .nav__menu .icon__close.hide,
header .header__nav .nav__menu .icon__menu.hide {
    opacity: 0;
    transform: scale(0.3);
}

/*────────────────────────────────────
  반응형
────────────────────────────────────*/
@media screen and (max-width: 700px) {
    header .header__nav .nav__menu {
        display: flex;
    }
    header .header__nav li:not(.nav__menu) {
        display: none;
    }
}
