.container {
    width: 100%;
    background-color: #706f6f;
}

/*────────────────────────────────────
  admin main Layout
────────────────────────────────────*/

main {
    width: var(--admin-main-width);
    padding: var(--admin-main-padding);
    margin: 0 auto;
    background-color: #fcb128;
    display: flex;
    gap: var(--admin-main-gap);
}

main aside {
    width: var(--admin-aside-width);
    height: 1000px;
}

main aside .box__post {
    width: 100%;
    height: var(--admin-aside-post-box-height);
    background-color: white;
    border: 1px solid #706f6f;
    text-align: start;
    line-height: var(--admin-aside-post-box-height);
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

main aside .box__post span {
    font-size: 14px;
    user-select: none;
}

main aside .box__post:hover {
    background-color: #fcb128;
}

main aside .managed__container {
    width: 100%;
    background-color: var(--admin-aside-managed-container-background-color);
    color: white;
    padding: 15px;
    border: 1px solid #706f6f;
}

main aside .managed__container .list__menu li {
    transition: color 0.3s ease;
}

main aside .title__menu {
    display: flex;
    padding: 3px;
    justify-content: start;
    align-items: center;
}

main aside .title__menu span {
    display: block;
    width: var(--admin-aside-category-title-icon-size);
    height: var(--admin-aside-category-title-icon-size);
    vertical-align: middle; /* 텍스트와 수직 정렬 맞출 때 */
    background: url("../../icon/arrow_up.svg");
    align-items: start;
    margin-right: 5px;
}

main aside .list__menu li {
    padding: 4px 0px 4px 30px;
    font-size: var(--admin-aside-category-font-size);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main aside .list__menu li:hover {
    background-color: #706f6f;
}

main aside .list__menu li.active {
    color: var(--admin-aside-category-menu-active-color);
}

/*────────────────────────────────────
  admin main section Layout
────────────────────────────────────*/

main section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}