<!-- header.html -->
<header th:fragment="header">
    <div class="header__container">
        <div class="header__title">
            <div class="header__logo" id="blog_icon"></div>
            <span class="header__text">블로그타이틀</span>
        </div>
        <ul class="header__nav">
            <li><a href="/login">로그인</a></li>
            <li><a href="/posts/recent-edit">최신 수정글</a></li>
            <li><a href="/posts/recent-create">최신 등록글</a></li>
            <li><a href="/about">개발자 소개</a></li>
            <li class="nav__menu" data-type="menu">
                <div class="nav__icon">
                    <span class="icon__close hide"></span>
                    <span class="icon__menu"></span>
                </div>
                <span>메뉴</span>
            </li>
        </ul>
    </div>
</header>