<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>blog home</title>
    <link rel="stylesheet" th:href="@{/css/base/variables.css}">
    <link rel="stylesheet" th:href="@{/css/base/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/component/btn_updown.css}">
    <link rel="stylesheet" th:href="@{/css/pages/home.css}">
</head>
<body>
<div class="container">
    <header th:replace="~{layout/nav_header.html::header}"></header>
    <div class="mobile_nav__wrapper hide">
        <ul class="mobile__nav">
            <li><a href="/login">로그인</a></li>
            <hr>
            <li><a href="/posts/recent-edit">최신 수정글</a></li>
            <hr>
            <li><a href="/posts/recent-create">최신 등록글</a></li>
            <hr>
            <li><a href="/about">개발자 소개</a></li>
        </ul>
    </div>
    <main>
        <div class="main__inner">
            <div class="post__order">
                <ul class="post__order_container">
                    <li><a>최신등록순</a></li>
                    <li><a>최신수정순</a></li>
                    <li><a>이름순</a></li>
                    <li><a>생성순</a></li>
                    <li><a>수정순</a></li>
                </ul>
            </div>
            <div class="main__post">
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
                <a class="post__item" href="/posts/1">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <div class="post__item_content__wrapper">
                        <h3 class="post__item__title">Post 게시글 제목이렇게 길 수 도 있는데 이거까지 고려 </h3>
                        <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an.</p>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <div th:replace="~{component/btn_updown.html::btn_updown}"></div>
</div>
<script th:src="@{/js/layout/header.js}"></script>
</body>
</html>