<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>blog home</title>
    <link rel="stylesheet" th:href="@{/css/base/variables.css}">
    <link rel="stylesheet" th:href="@{/css/base/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/component/btn_updown.css}">
    <link rel="stylesheet" th:href="@{/css/pages/home.css}">
</head>
<body>
<div class="container">
    <header th:replace="~{layout/nav_header.html::header}"></header>
    <div th:replace="~{component/btn_updown.html::btn_updown}"></div>
    <main>
        <div class="main__inner">
            <div class="main__post">
                <div class="post__order">
                    <ul class="post__order_container">
                        <li><a>최신등록순</a></li>
                        <li><a>최신수정순</a></li>
                        <li><a>이름순</a></li>
                        <li><a>생성순</a></li>
                        <li><a>수정순</a></li>
                    </ul>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="post__item">
                    <div class="post__item__img__wrapper">
                        <div class="post__item__img"></div>
                    </div>
                    <h3 class="post__item__title">Post 게시글 제목</h3>
                    <p class="post__item__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>